@media screen and (max-width: 479px) {
  .header{
    width:150px;
    height:100px;
    background-color:red;
  }
  .footer{
    width:150px;
    height:100px;
    background-color:yellow;
  }
  .left{
    width:150px;
    height:250px;
    background-color:green;
  }
  .content-sub{
    width:150px;
    height:100px;
    background-color:orange;
  }
  .content{
    display:flex;
    flex-direction: column;
  }
  .article{
    order:2;
  }
  .side-menu{
    width:150px;
    height:150px;
    background-color:yellowgreen;
    order:1;
  }
  .title{
    width:150px;
    height:50px;
    background-color:blue;
  }
  .text{
    width:150px;
    height:100px;
    background-color:black;
  }
}

@media (max-width: 767px) and (min-width: 479px) {
  .header{
    width:300px;
    height:100px;
    background-color:red;
  }
  .footer{
    width:300px;
    height:100px;
    background-color:yellow;
  }
  .clearfix::after{
    content:"";
    display: block;
    clear:both;
  }
  .left{
    width:100px;
    height:250px;
    background-color:green;
    float:left;
  }
  .right{
    width:200px;
    height:250px;
    background-color:pink;
    float:left
  }
  .content-sub{
    width:200px;
    height:100px;
    background-color:orange;
    float:left
  }
  .article{
    width:125px;
    height:150px;
    background-color:black;
    float:left
  }
  .side-menu{
    width:75px;
    height:150px;
    background-color:yellowgreen;
    float:left
  }
  .title{
    width:125px;
    height:50px;
    background-color:blue;
  }
  .text{
    width:125px;
    height:100px;
    background-color:black;
  }
}
