@media screen and (min-width: 767px) {
  .header{
    width:450px;
    height:100px;
    background-color:red;
  }
  .footer{
    width:450px;
    height:100px;
    background-color:yellow;
  }
  .clearfix::after{
    content:"";
    display: block;
    clear:both;
  }
  .left{
    width:200px;
    height:250px;
    background-color:green;
    float:left;
  }
  .right{
    width:250px;
    height:250px;
    background-color:pink;
    float:left
  }
  .content-sub{
    width:250px;
    height:100px;
    background-color:orange;
    float:left
  }
  .article{
    width:150px;
    height:150px;
    background-color:black;
    float:left
  }
  .side-menu{
    width:100px;
    height:150px;
    background-color:yellowgreen;
    float:left
  }
  .title{
    width:150px;
    height:50px;
    background-color:blue;
  }
  .text{
    width:150px;
    height:100px;
    background-color:black;
  }
}